if hasCurrentTasks
  .card.teal.lighten-4
    .card-content
      .card-title.panel-title.black-text 
        p #{logDataContext}
        p #{name}
      each subTasks
        if showTask
          div(class="card {{#if isPreend}}teal{{else}}{{#if isTaskNotCurrent}}{{#if isTaskCompleted}}teal{{else}}teal{{/if}}{{else}}teal{{/if}}{{/if}}")
            .card-content
              h5.panel-title.white-text #{name}
              .list-group
                p.list-group-item-text.white-text.text-darken-2 #{instructions}
              if taskTypeIsTask
                .buttons
                  a#task-completed.btn.decision-button.deep-orange.accent-3(class="{{#if isTaskNotCurrent}}disabled{{else}}{{/if}}") Сделано
              else if taskTypeIsDecision
                .buttons
                  if isTaskNotCurrent
                    each decisions
                      a(href="#", data-flowinsid="#{../flowInsId}", data-taskid="#{../_id}") #{name} 
                  else
                    each decisions
                      a#decision-button.btn.decision-button.deep-orange.accent-3(href="#", data-flowinsid="#{../flowInsId}", data-taskid="#{../_id}") #{name} 
              else if isEmbeddedFlow
                with getEmbeddedFlow
                  +singleFlowIns
              else if isPreend
                .row
                  .col.s12.text-center
                    a#task-completed.btn.deep-orange.accent-3 Завершить процесс
      if isNotDemo
        .card-action.teal.lighten-4
          a#back-button.btn.waves-effect.waves-light.teal.darken-1
            .white-text Назад
          a#cancel-button.btn.waves-effect.waves-light.teal.darken-1
            .white-text Отменить процесс
else if isDemo
  p.center-align Демо-процесс завершен
