#content.page-container-draw
  #title_row.row
    .col.s12
      #page_menu.pull-right
  .row#data-container
    .col.s12
      each this.dataFields
        .row
          .col.s10
            p {{name}}
          .col.s2
            a.waves-effect.waves-light.btn.remove-data-field-button Удалить
      .row
        .col.s10
          .input-field.col.s12
            input.validate(id="add-data-field" type="text")
            label(for="add-data-field") Добавить новое поле данных
        .col.s2
          a.waves-effect.waves-light.btn.add-data-field-button Добавить
  .row#links-container
    table
      tbody
        tr
          each this.roles
            td.role-name-cell(colspan="{{width}}") #{prettyName}
        each this.rows
          tr
            each this
              if notEmpty
                td(colspan="{{maxColspan}}" class="top-aligned task-td {{#if hasLeftBorder}}leftBorder {{/if}}{{#if hasRightBorder}}rightBorder {{/if}}{{#if isEnd}}end-cell {{/if}}{{#if isStart}}white-text{{/if}} {{#if editMode}}editing-td{{/if}} {{#if hasNoRoleAssigned}}no-role-assigned-td{{/if}}")
                  if isEnd
                    div(class="card task-panel")
                      // кнопка добавить перед
                      a.btn-floating.waves-effect.waves-light.deep-orange.add-task-button-generic.add-task-before(id="add-task-before")
                        i.medium.mdi-action-note-add
                      .card.end-card(id="{{task._id}}").teal.darken-3
                        h5.flow-text.white-text Конец
                  else
                    div(class="card task-panel {{#if isStart}}teal darken-3{{/if}}", id="{{task._id}}")
                      if isNotEnd
                        if isNotStart
                          // кнопка добавить справа
                          a.btn-floating.waves-effect.waves-light.deep-orange.add-task-button-generic.add-task-to-the-right(id="add-task-to-the-right")
                            i.medium.mdi-action-note-add
                          // кнопка добавить слева
                          a.btn-floating.waves-effect.waves-light.deep-orange.add-task-button-generic.add-task-to-the-left(id="add-task-to-the-left")
                            i.medium.mdi-action-note-add
                      // кнопка добавить перед
                      if isNotStart
                        a.btn-floating.waves-effect.waves-light.deep-orange.add-task-button-generic.add-task-before(id="add-task-before")
                          i.medium.mdi-action-note-add
                      p {{{debugInfo}}}
                      if task.editMode
                        if isNotStart
                          .row
                            .input-field.col.s12
                              input.validate(id="last_name" type="text" value="{{task.name}}")
                              label.active(for="last_name") Название
                          .row
                            .input-field.col.s12
                              textarea.materialize-textarea(id="textarea_instructions")
                                | {{task.instructions}}
                              label.active(for="instructions") Инструкции
                        .row
                          .input-field.col.s12.black-text
                            select.browser-default
                              //- option(value="00",disabled,selected) Выберите роль
                              each allRoles
                                option(value='#{id}' selected="{{isRoleSelected}}") #{prettyName}
                            //label Выберите роль
                      else
                        if isStart
                          a#start_editing_task.waves-effect.waves-light.right
                            i.tiny.mdi-editor-mode-edit
                          h5.flow-text.white-text.center-align Начало
                        else
                          .row.header
                            .col.s6
                              h6.left #{task.name}
                            .col.s6
                              a#start_editing_task.waves-effect.waves-light.right
                                i.tiny.mdi-editor-mode-edit
                              a#delete_task.waves-effect.waves-light.right
                                i.tiny.mdi-action-delete
                          .row.content-row
                            .col.s12
                              p #{task.instructions}
                      if hasDecisions
                        if task.editMode
                          .decisions-container-edit
                            each task.decisions
                              .row.decision-row
                                .tight.col.s12.center-align
                                  .card-panel.teal.decision-text(id="task_{{../task._id}}_decision_{{id}}" data-source="{{sourceId}}", data-destination="{{destinationId}}")
                                    span.white-text #{name}
                                a#remove-decision.btn-floating.red.btn-connect.connectionRemoveButton.remove-decision-button
                                  i.mdi-action-highlight-remove(data-decision-id="{{id}}", data-task-id="{{../task._id}}")
                        else
                          .decisions-container
                            each task.decisions
                              .row.decision-row
                                .col.s12.right-tight
                                  .card-panel.teal.decision-text(id="task_{{../task._id}}_decision_{{id}}")
                                    span.white-text #{name}
                      if task.editMode
                        .row.input-new-decision.center-align
                          .col.s10
                            input-field
                              input#newDecisionName(type="text" class="validate")
                          .col.s2
                            a#add-decision.waves-effect.waves-light.btn.add-decision
                              i.medium.mdi-content-add
                      if task.editMode
                        .row
                          .col.s12.center-align
                            a#save-edited-task.waves-effect.waves-light.btn Сохранить
                      if doesNotHaveDecisions
                        if task.editMode
                          .row.connectionsActive
                            .col.s12.center-align
                              if notLastConnection
                                each taskConnections
                                  a(id="connection-from-{{sourceId}}-to-{{destinationId}}")
                                    a#remove-connection.btn-floating.waves-effect.waves-light.red.btn-connect.connectionRemoveButton
                                      i.tiny.mdi-action-highlight-remove(data-source="{{sourceId}}", data-destination="{{destinationId}}")
                              else
                                each taskConnections
                                  a(id="connection-from-{{sourceId}}-to-{{destinationId}}")
                                    a.btn-floating.waves-effect.waves-light.red.btn-connect.connectionRemoveButton
                              a.btn-floating.btn-connect.waves-effect.waves-light.red(id="new-connection-from-{{task._id}}")
                                i.medium.mdi-content-add
                        else
                          .row.connections
                            .col.s12.center-align.connections-row
                              each taskConnections
                                span.connection-dot(id="connection-from-{{sourceId}}-to-{{destinationId}}") &middot;
                                  // кнопка добавить снизу
                                  a.btn-floating.waves-effect.waves-light.deep-orange.add-task-button-generic.add-task-after(id="add-task-after")
                                    i.medium.mdi-action-note-add( data-destination-id="{{destinationId}}")
              else
                td(class="empty {{#if hasLeftBorder}}leftBorder {{/if}}{{#if hasRightBorder}}rightBorder {{/if}}")
